{% extends 'simplenation/base.html' %}

{% load staticfiles %}

{% block title %}About{% endblock %}

{% block body_block %}
	<div class="center-body-block">
		<div class="centre-body-content heading">
			<h3 class="heading-3">About</h3>
		</div>
		<div class="centre-body-content">
			<p>On this site you can write whatever you think about any topic. Our mission is to gather opinions and thoughts regarding everything that is anything. You can talk about a movie or your airline experience or favourite soccer club. There are no boundaries, just choose a topic and tell the world what you think of it. That’s it!</p>
		</div>

  	</div>
	
{% endblock %}


