{% extends 'simplenation/base.html' %}

{% load staticfiles %}

{% block title %}Delete account{% endblock %}i

{% block body_block %}
	<div class="delete-account-block">
	<p class="delete-account-message">Dear {{ username }}, are you sure to DELETE your account?</p>
	<p class="delete-account-help-message">Caution: your ranking, score and any other profile data will not be retrievable.</p>
	<form action="{% url 'account_deletion' account_deletion_key %}" method="POST" style="display:inline-block; margin-top:15px;">
		{% csrf_token %}
		<input class="w-button delete-account-yes yes" type="submit" name="yes" value="Yes" />
		<input class="w-button delete-account-yes" type="submit" name="no" value="No" />
	</form>
	</div>
	

{% endblock %} 