<!DOCTYPE html>


{% load staticfiles %}

<html>
	<head>
		<meta charset="utf-8">
    	
   	 	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<meta name="description" content="">
    	<meta name="author" content="">
    	
    	
 
		<title>Simplenations - {% block title %}Explain in your own words!{% endblock %}</title>
		

    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
		
		
    <link rel="stylesheet" type="text/css" href="{% static "gallery/css/SimpleSlider.css" %}">
		<link rel="stylesheet" type="text/css" href="{% static "css/normalize.css" %}">
  	<link rel="stylesheet" type="text/css" href="{% static "css/webflow.css" %}">
  	<link rel="stylesheet" type="text/css" href="{% static "css/simplenation.webflow.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/jquery.growl.css" %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <script src="{% static "js/simplenation-main.js" %}"></script>
    <script src="{% static "js/simplenation-functions.js" %}"></script>
    <script src="{% static "js/jquery.growl.js" %}"></script>
    <script src="{% static "js/autocomplete/src/jquery.autocomplete.js" %}" type="text/javascript"></script>



    <script src="{% static "gallery/js/Am2_SimpleSlider.js" %}"></script>
    <script src="{% static "js/readmore.js" %}"></script>
    <script src="{% static "js/profile.js" %}"></script>
	  
    <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script src="//tinymce.cachefly.net/4.2/tinymce.min.js"></script>
		

		<script src="{% static "js/autosize-master/dist/autosize.js" %}" type="text/javascript"></script> 
		
		
	</head>

	<body class="body" style="position:relative;">

    
    {% if user.is_authenticated %}
      <div class="login-status-check" style="display:none;" data-signal="Y"></div>
      {% if not user.author.active %}
        <div style="width:100%;height:27px;"></div>
        <div class="email-confirmation-bar">
          <p class="email-confirmation-text">Confirmation link has been sent to your email. Please confirm your email address. <a href ='#' style="font-weight: bold; color:white;" class="send-email-confirmation">Send again.</a></p>
        </div>
      {% endif %}
    {% else %}
      <div class="login-status-check" style="display:none;" data-signal="N"></div>
    {% endif %}

    <a class="static-src" href="{% static "" %}" style="display:none;"></a>
    <a class="domain" href="{{ domain }}" style="display:none;"></a>

	  <div class="w-nav navbar" data-collapse="medium" data-animation="default" data-duration="400" data-contain="1">
    	<div class="w-container navbar-container">
      		<div class="global-search">
      			<form class="global-search-form" action="{% url 'search' %}" method="post" role="search" style="">
      				{% csrf_token %}
        			<input id="global-search-input-id" class="w-input global-search-input" name="search_item" placeholder="Search..." type="text" autocomplete="off">
        			<button class="w-button global-search-button" type="submit">S</button>
      			</form>
        		
        		<div class="suggestions">
        			{% if suggestions %}
        			<div class="suggestions-container">
        				{% for suggestion in suggestions %}
          					<div class="suggestion">
            					<a href="{% url 'term' suggestion.slug %}" style="text-align:left; color:black" ><div class="suggestion-text" id = "suggestion-{{suggestion.id}}">{{ suggestion.name }}</div></a>
         	 				</div>
         	 			{% endfor %}
         	 		</div>
         	 		{% endif %}
        		</div>
      		</div>
      		<div class="nav-menu">
        		<a class="w-inline-block navbar-link explore pressed" href="{% url 'index' %}"></a>
        		{% if user.is_authenticated %}
        			{% if user.author %}
        		<a class="w-inline-block navbar-link notification pressed" href="{% url 'recent_notifications' %}">
          			<div class="notifications-indicator"></div>
        		</a>
        		<a class="w-inline-block navbar-profile-link" href="{% url 'profile' user.author.slug %}"><img class="navbar-profile-img" src="{{ user.author.picture.url }}" height="29">
       			 </a>
       			 	{% endif %}
       			{% else %}
       			<a class="w-inline-block navbar-sign-in" href="{% url 'signin' %}?next={{ request.get_full_path|urlencode }}">
         		 	<div class="sign-in-text pressed">Sign in</div>
        		</a>
        		{% endif %}

      		</div>
    	</div>
  	</div>
	  {% if search_active %}			
    <div class="container-tag-filtered-terms-index" style="margin-top: 50px;">
      <div class="terms-filtered-container">
      {% if search_results %}
      <div class="term-sorting">
        <text class="term-sorting-text">sort by <a id="term-sorting-button-exp" class="term-sorting-button">posts</a> or <a id="term-sorting-button-view" class="term-sorting-button">views</a></text>
      </div>
        {% for term in search_results %}
          <div class="w-clearfix term-filtered">
              <div class="term-label-and-tags">
                <div class="term-name"><a class="term-list-link" href="{% url 'term' term.slug %}">{{ term.name }}</a></div>
                {% if term.iterable_tags %}
                <div class="term-tags">
                  {% for tag in term.iterable_tags %}
                    <a class="term-tag" href="{% url 'single_tag_view' tag.slug %}">{{ tag.name }}</a>
                {% endfor %}
                </div>
                {% endif %}
              </div>
              <div class="w-clearfix term-stats">
                {% if term.has_explanations %}
                <a href="{% url 'term' term.slug %}"><div class="term-stats-element explanations">
                    <div class="term-stats-number explanations">{{ term.number_of_explanations }}</div>
                    <div class="term-stats-label explanations">Posts</div>
                </div></a>
                {% else %}
                <a href="{% url 'term' term.slug %}"><div class="term-stats-element no-explanations">
                    <div class="term-stats-number explanations">{{ term.number_of_explanations }}</div>
                    <div class="term-stats-label explanations">Posts</div>
                </div></a>
                {% endif %}
                <div class="term-stats-element">
                    <div class="term-stats-number term-views">{{ term.views }}</div>
                    <div>Views</div>
                </div>
              </div>
          </div>
        {% endfor %}
      {% else %}
      <div class="term-not-found">
        <p class="term-not-found-text">We don't have <strong>'{{ search_item }}'</strong> yet. </p>
        {% if user.is_authenticated %}
          <div class="terms-agreement-notice">Please add it, let someone explain!</div>
          <div class="add-term-block">
            <form action="{% url 'add_term'%}" method="POST">
              {% csrf_token %}
              <input class="w-input add-term-input" type="text" name="name" value="{{ search_item }}">
              <input class="w-button add-term-button" type="submit" name="add" value="Add new article" />
            </form>
          </div>
        {% else %}
          <div class="terms-agreement-notice">Please add it, let someone explain!</div>
          <p class="post-not-registered-text" style="border: 0px; margin-top:10px;">To add a new article  <a class="log-in" href="{% url 'signin' %}?next={{ request.get_full_path|urlencode }}">Log in</a>  or  <a class="sign-up" href="{% url 'register' %}?next={{ request.get_full_path|urlencode }}">Sign up</a>. You will be redirected here afterwards ;)</p>
        {% endif %}
      </div> 
      {% endif %}
    </div>
  </div>
	{% else %}
	  <div>
		  {% block body_block %}{% endblock%}
	  </div>
  {% endif %}
		<div class="bottom-bar">
      <div class="site-related">
        <a class="bottom-bar-link" href="{% url 'about' %}">About</a>
        <a class="bottom-bar-link" href="{% url 'privacy' %}">Privacy</a>
        <a class="bottom-bar-link" href="{% url 'terms' %}">Terms of Service</a>
        <a class="bottom-bar-link" href="{% url 'rules' %}">Site Rules</a>
      </div>
    </div>
		

	</body>
</html>
