{% extends 'simplenation/base.html' %}

{% load staticfiles %}

{% block title %} Notifications {% endblock %} 


{% block body_block %}
    
     <div class="notifications-block">
    	<h1 class="notifications-heading">Notifications</h1>
    	{% if notifications %}
	    	{% for notification in notifications %}
		    	{% if notification.typeof == 'challenge_notification'%}
		    	<p class="notification-text-element">
		    		<a class="author-title notifications" href="{% url 'profile' notification.sender.author.slug %}">{{ notification.sender.username }}</a> has <strong>challenged</strong> you to explain <a class="term-name-notifications" href="{% url 'term' notification.term.slug %}">{{ notification.term.name }}</a>. <span class="created-time-notifications">{{ notification.humanized_created_at }}</span>
		    	</p>
		    	{% elif notification.typeof == 'explanation_notification' %}
		    	<p class="notification-text-element">
		    		<a class="author-title notifications" href="{% url 'profile' notification.sender.author.slug %}">{{ notification.sender.username }}</a> has <strong>explained</strong> <a class="term-name-notifications" href="{% url 'term' notification.term.slug %}">{{ notification.term.name }}</a>. <span class="created-time-notifications">{{ notification.humanized_created_at }}</span>
		   	 	</p>
		   	 	{% elif notification.typeof == 'like_notification' %}
		    	<p class="notification-text-element">
		    		<a class="author-title notifications" href="{% url 'profile' notification.sender.author.slug %}">{{ notification.sender.username }}</a> has <strong>liked</strong> your explanation for <a class="term-name-notifications" href="{% url 'term' notification.definition.term.slug %}">{{ notification.definition.term.name }}</a>. <span class="created-time-notifications">{{ notification.humanized_created_at }}</span>
		    	</p>
		    	{% elif notification.typeof == 'term_creation' %}
		    	<p class="notification-text-element">
		    		{% if user.id != notification.sender.id %}
		    			<a class="author-title notifications" href="{% url 'profile' notification.sender.author.slug %}">{{ notification.sender.username }}</a> has <strong>created</strong> new term: <a class="term-name-notifications" href="{% url 'term' notification.term.slug %}">{{ notification.term.name }}</a>. <span class="created-time-notifications">{{ notification.humanized_created_at }}</span>
		    		{% else %}
		    			<a class="author-title notifications" href="{% url 'profile' notification.sender.author.slug %}">You</a> have <strong>created</strong> new term: <a class="term-name-notifications" href="{% url 'term' notification.term.slug %}">{{ notification.term.name }}</a>. <span class="created-time-notifications">{{ notification.humanized_created_at }}</span>
		    		{% endif %}
		    	</p>
		    	{% endif %}
		    {% endfor %}
		{% else %}
			<p> You have no notifications. </p>
		{% endif %}
  	</div>



{% endblock %}