{% extends 'simplenation/base.html' %}

{% load staticfiles %}

{% block title %}Password Reset{% endblock %}

{% block body_block %}


<div class="sign-in-block">
		<h3>Get new password</h3>
		<div class="terms-agreement-notice">We will send a link to reset password</div>
		<div class="w-form">
		  <form class="w-clearfix sign-in-form" id="login_form" method="post" action="." style="border-bottom: 0px">
		  	{% if messages %}
		  		{% for messages in message %}
		    		<div class="form-error-msg">{{ message }}</div>
		    	{% endfor %}
		    {% endif %}
		    {% csrf_token %}
		    <input class="w-input sign-in-input" type="text" placeholder="email or username" name="email_or_username">
		    <input class="w-button sign-in-button" type="submit" name="submit" value="OK">
		  </form>
		</div>
</div>





{% endblock %}