{% extends 'simplenation/base.html' %}

{% load staticfiles %}

{% block title %}{{ profile_name }}{% endblock %}

{% block body_block %}
	{% if success %}
	<div class="w-clearfix profile-header">
    	<div class="profile-picture-block">
    		<img class="profile-picture" src="{{ author.picture.url }}" width="170">
    	</div>
    	<div class="profile-info-block">
      		<p class="profile-info-element">
      			<a class="author-title profile-page" href="{% url 'profile' author.slug %}">{{ profile_name }}</a>
      		</p>
      		{% if user.username == profile_name %}
      			<a class="edit-profile-trigger" href="{% url 'edit_profile' author.slug %}">Edit Your Profile</a>
      			<a class="edit-profile-trigger logout" href="{% url 'signout' %}" style="margin-left:30px;">Sign Out</a>
      		{% endif %}
      		<p class="profile-info-element">Score: {{ author.score }}</p>
      		<p class="profile-info-element">Rank: {{ author.ranking }}</p>
      		<p class="profile-info-element about">Favorites: <button class="favorite-number" style="background-color:transparent;border:0px;">{{ favourites_count }}</button></p>
      		

      		{% if user.is_authenticated %}
      			{% if user.username != profile_name %}
      				<button class="w-button favor-button {{ favorite_button_class }}" id="favourite-{{ favourite.id }}" data-favoree-id="{{ author.user.id }}">{{ favor_button_text }}</button>
      			{% endif %}
      		{% endif %}
    	</div>
  	</div>
  	<div class="profile-table-block">
  		{% if explanations %}
  			<p style="font-size:16px; font-weight:bold;">Recent Contributions</p>
  			{% for explanation in explanations %}
    			<p class="profile-table-element"><a href="{% url 'term' explanation.term.slug %}"><span class="profile-term-span">{{ explanation.term.name }}</span>: <span class="profile-explanation-span" id="profile-explanation-span-{{explanation.id}}" data-expid="{{explanation.id}}">{{ explanation.body|truncatewords:"5" }}</span></a> <span style="float:right;"><span style="color:grey;">{{ explanation.last_posted }}</span>. Likes: {{ explanation.likes }} </p></span> 
    		{% endfor %}
    	{% endif %}
  	</div>
  	<div class = "favorites-list-dialog" style="display:none;">
	  	<div class="favorite-dialog-block">
		   		
		    	{% if favourites %}
		      	<h6 class="small-list-heading">Favorites</h6>
		      		{% for favorite in favourites %}
				      	<div class="w-clearfix dialog-list-block">
				      		<img class="dialog-list-image" src="{{ favorite.author.picture.url }}" width="40">
				      		<a class="dialog-author-title" href="{% url 'profile' favorite.author.slug %}">{{ favorite.author }}</a>
		      			</div>
		      		{% endfor %}
		      	{% else %}
            <div class="no-found-terms" style="margin-top:50px;" >
              <img src="{% static "images/Empty-Set-Black@2x.png" %}" width="70px">
               <div class="no-found-terms-text">No favorites</div>
            </div>
		      	
    			{% endif %}
	   	</div>
	</div>
	{% else %}
	<div class="no-found-terms" style="margin-top:50px;">
    	<img src="{% static "images/delete_user_picture.png" %}" width="100px">
    	<div class="no-found-terms-text">User does not exist</div>
    </div>
	{% endif %}
	
{% endblock %}


