{% extends 'simplenation/base.html' %}

{% load staticfiles %}

{% block title %}Site Rules{% endblock %}

{% block body_block %}
	<div class="center-body-block">
		<div class="centre-body-content heading">
			<h3 class="heading-3">Rules @simplenations</h3>
		</div>
		<div class="centre-body-content">
			<p>Simplenations is a platform for you to share, explore and discuss in an open environment. The nature of this content might be funny, serious, offensive, or anywhere in between. While participating, it’s important to keep in mind this value above all others: show enough respect to others so that we all may continue to enjoy Simplenations to its fullest.</p>
			<br/>
			<p>unwelcome content</p> 
			<br/>
			<p>1. While we are generally to any content, here are some guidelines for content that is not acceptable. Please keep in mind the spirit in which these were written, and know that looking for loopholes is a waste of time.</p>
			<br/>
			<p>2. Content is prohibited if it</p>
			<br/>
			<p>Is illegal</p>
			<p>Is involuntary pornography</p>
			<p>Encourages or incites violence</p>
			<p>Threatens, harasses, or bullies or encourages others to do so</p>
			<p>Is personal and confidential information</p>
			<p>Impersonates someone in a misleading or deceptive manner</p>
			<p>Is spam</p>
			<br/>
			<p>prohibited behavior</p>
			<br/>
			<p>3. In addition to not submitting unwelcome content, the following behaviors are prohibited @Simplenations</p>
			<br/>
			<p>Asking for votes or engaging in vote manipulation</p>
			<p>Breaking Simplenations or doing anything that interferes with normal use of Simplenations</p>
			<p>Creating multiple accounts to evade punishment or avoid restrictions</p>
			<br/>
			<p>nsfw (not safe for work) content</p>
			<br/>
			<p>4. Content that contains nudity, pornography, or profanity, which a reasonable viewer may not want to be seen accessing in a public or formal setting such as in a workplace should be tagged as NSFW. This tag can be applied to individual pieces of content or to entire communities.</p>
			<br/>
			<p>enforcement</p>
			<br/>
			<p>5. We have a variety of ways of enforcing our rules, including, but not limited to</p>
			<br/>
			<p>Asking you nicely to stop</p>
			<p>Asking you less nicely</p>
			<p>Temporary or permanent suspension of accounts</p>
			<p><p>Removal of privileges from, or adding restrictions to, accounts</p>
			<p>Adding restrictions to Simplenations, such as adding NSFW tags or Quarantining</p>
			<p>Removal of content</p>
			<p>Banning of Simplenations groups</p>
		</div>

  	</div>
	
{% endblock %}


