{% extends 'simplenation/base.html' %}

{% load staticfiles %}

{% block title %}Sign in{% endblock %}

{% block body_block %}
	<div class="sign-in-block">
	{% if user.is_authenticated %}
		<h3> Dear {{ user.username }}, you are currently logged in</h3>
	{% else %}
		<h3>Sign in</h3>
		<div class="w-form">
		  <form class="w-clearfix sign-in-form" id="login_form" method="post" action="{% url 'signin' %}">
		  	{% if login_error_message %}
		    	<div class="form-error-msg">{{ login_error_message }}</div>
		    {% endif %}
		    {% csrf_token %}
		    <input class="w-input sign-in-input" type="text" placeholder="email or username" name="email_or_username">
		    <input class="w-input sign-in-input" type="password" placeholder="password" name="password">
		    <input class="w-button sign-in-button" type="submit" name="submit" value="Log in">
		    <input type="hidden" name="next" value="{{ next }}">
		    <a class="forgot-password-link" href="{% url 'reset_password' %}">Forgot Password?</a>
		  </form>
		</div>
		<a class="register-link" href="{% url 'register' %}?next={{ request.get_full_path|urlencode }}">Don’t have an account? Join us :)</a>
	{% endif %}
  </div>
	
{% endblock %}


