{% extends 'simplenation/base.html' %}

{% load staticfiles %}
{% load call_tag %}

{% block title %}Tagged Terms{% endblock %}i

{% block body_block %}
	<div class="tag-choose-container"><a class="term-tag" href="#">{{ tag.name }}</a>
   		<p class="tagged-terms-stats">tagged topics: {{number_of_terms}} </p>
  	</div>

  	<div class="container-tag-filtered-terms-index">
  		<div class="term-sorting left">
  			<text class="add-article-text"><a href="{% url 'add_term' %}" class="add-new-article-link">+ add new topic</a></text>
  		</div>
  		<div class="term-sorting">
  			<text class="term-sorting-text">sort by <a id="term-sorting-button-exp" class="term-sorting-button">posts</a>, <a id="term-sorting-button-votes" class="term-sorting-button">votes</a> or <a id="term-sorting-button-view" class="term-sorting-button">views</a></text>
  		</div>
  		<div class="terms-filtered-container">
  		{% if terms_for_explainers %}
  			<div class="grid">
  			{% for term in terms_for_explainers %}
		    	<div class="w-clearfix term-filtered">
		      		<div class="term-label-and-tags">
		        		<div class="term-name"><a class="term-list-link" href="{% url 'term' term.slug %}">{{ term.name }}</a></div>
		        		{% if term.iterable_tags %}
		        		<div class="term-tags">
		        			{% for tag in term.iterable_tags %}
		        				<a class="term-tag" href="{% url 'single_tag_view' tag.slug %}">{{ tag.name }}</a>
		     				{% endfor %}
		        		</div>
		        		{% endif %}
		      		</div>

		      		{% if term.has_picture %}
		      		<div class="term-image">
		      			<img class="term-img" src="{{ term.picture.url }}">
		      		</div>
		      		{% endif %}

		      		<div class="w-clearfix term-stats">
		      			{% if term.has_explanations %}
		       			<a href="{% url 'term' term.slug %}"><div class="term-stats-element explanations">
		          			<div class="term-stats-number explanations">{{ term.number_of_explanations }}</div>
		          			<div class="term-stats-label explanations">Posts</div>
		        		</div></a>
		        		{% else %}
		        		<a href="{% url 'term' term.slug %}"><div class="term-stats-element no-explanations">
		          			<div class="term-stats-number explanations">{{ term.number_of_explanations }}</div>
		          			<div class="term-stats-label explanations">Posts</div>
		        		</div></a>
		        		{% endif %}
		        		<div class="term-stats-element">
		          			<div class="term-stats-number term-views">{{ term.views }}</div>
		          			<div>Views</div>
		        		</div>
		      		</div>

		      		<div class="vote-container">
		      			{% if user.is_authenticated %}
		      				<div class="vote-container-element">
		      					{% if term|args:user|call:"upvoted" %}
		      						<div id="likes-upvote-term-{{term.id}}" class="upvote term small small-upvoted" data-signal="up" data-termid="{{term.id}}"></div>
		      					{% else %}
		      						<div id="likes-upvote-term-{{term.id}}" class="upvote term small" data-signal="up" data-termid="{{term.id}}"></div>
		      					{% endif %}
		      					<div id="likes-count-term-up-{{term.id}}" class="likes-count ups">{{ term.upvote_count| humanize_numbers}}</div><div class="likes-count ups-hidden" style="display:none;">{{term.upvote_count}}</div>
		      				</div>
		      				<div class="vote-container-element">
		      					<div id="likes-count-term-down-{{term.id}}" class="likes-count downs">{{ term.downvote_count|humanize_numbers }}</div><div class="likes-count downs-hidden" style="display:none;">{{term.downvote_count}}</div>
		      					{% if term|args:user|call:"downvoted" %}
			      					<div id="likes-downvote-term-{{term.id}}" class="downvote term small small-downvoted" data-signal="down" data-termid="{{term.id}}"></div>
			      				{% else %}
			      					<div id="likes-downvote-term-{{term.id}}" class="downvote term small" data-signal="down" data-termid="{{term.id}}"></div>
			      				{% endif %}
		      				</div>
		      			{% else %}
		      				<div class="vote-container-element">
		      					<div id="likes-upvote-term-{{term.id}}" class="upvote term small not-registered" data-signal="up" data-termid="{{term.id}}"></div>
		      					<div id="likes-count-term-up-{{term.id}}" class="likes-count ups">{{ term.upvote_count| humanize_numbers}}</div><div class="likes-count ups-hidden" style="display:none;">{{term.upvote_count}}</div>
		      				</div>
		      				<div class="vote-container-element">
		      					<div id="likes-count-term-down-{{term.id}}" class="likes-count downs">{{ term.downvote_count|humanize_numbers }}</div><div class="likes-count downs-hidden" style="display:none;">{{term.downvote_count}}</div>
		      					<div id="likes-downvote-term-{{term.id}}" class="downvote term small not-registered" data-signal="down" data-termid="{{term.id}}"></div>
		      				</div>
		      			{% endif %}
		      		</div>	
		    	</div>
    		{% endfor %}
    		</div>
    	{% else %}
    		<div class="no-found-terms">
    			<img src="{% static "images/Empty-Set-Black@2x.png" %}" width="100px">
    			<div class="no-found-terms-text">No topics for this tag</div>
    		</div>
    	{% endif %}
    	</div>
    </div>


{% endblock %}