body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}
h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
}
h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
}
h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}
h4 {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  float: left;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}
h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}
a {
  color: #00e;
  text-align: center;
  text-decoration: none;
}
.button {
  display: inline-block;
  padding: 4px 15px;
  background-color: black;
  color: white;
  text-align: center;
  text-decoration: none;
}
.navbar {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 1px 1px 5px 0px;
  text-align: center;
}
.global-search {
  display: inline-block;
  width: 344px;
  margin-right: auto;
  margin-bottom: -2px;
  margin-left: auto;
  padding-top: 11px;
  padding-right: 4px;
  padding-left: 4px;
  text-align: center;
}
.global-search-input {
  display: inline-block;
  width: 83%;
  height: 36px;
  margin-bottom: 0px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: white 0px 0px 6px 0px;
}
.global-search-button {
  display: inline-block;
  margin-left: -1px;
  padding-top: 8px;
  padding-bottom: 8px;
  border: 0.9px solid black;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #0091c2;
  font-size: 14px;
}
.suggestions {
  position: absolute;
  display: none;
  width: 469px;
  margin-top: -15px;
  margin-left: 17px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 3px 0px;
  text-align: left;
}
.suggestion {
  padding-right: 12px;
  padding-left: 12px;
}
.suggestion:hover {
  background-color: #e8e8e8;
}
.suggestion-text {
  font-size: 19px;
  line-height: 29px;
}
.tag-choose-container {
  display: inline-block;
  width: 663px;
  margin-top: 20px;
  padding-right: 25px;
  padding-left: 25px;
}
.tag-filtering {
  display: inline-block;
  padding: 5px;
}
.tag-choose {
  display: inline-block;
  margin: 0px 1px 0px 0px;
  padding: 6px 8px;
  border-radius: 3px;
  background-color: #0091c2;
  color: white;
  text-decoration: none;
}
.tag-choose.not-chosen {
  background-color: #c2c2c2;
}
.search-tags {
  display: inline-block;
  width: 663px;
  margin-top: 10px;
  padding-right: 50px;
  padding-bottom: 10px;
  padding-left: 50px;
}
.tag-unchoose {
  display: inline-block;
  margin-right: 0px;
  padding: 6px 8px;
  border-radius: 3px;
  background-color: #0091c2;
  color: white;
  text-decoration: none;
}
.tag-unchoose.not-chosen {
  background-color: #c2c2c2;
}
.search-tag-input {
  display: inline-block;
  width: 130px;
  margin-bottom: 0px;
  padding: 0px 10px;
  font-size: 12px;
}
.search-tag-button {
  display: block;
  padding: 0px 8px 9px;
  background-color: #d1d1d1;
  color: white;
  font-size: 25px;
  line-height: 28px;
  font-weight: 700;
}
.no-tags-message {
  display: none;
  padding-top: 4px;
  padding-bottom: 4px;
  color: #ff5e5e;
  font-weight: 700;
}
.nav-menu {
  display: inline-block;
  height: 61px;
  float: right;
}
.container-tag-filtered-terms-index {
  display: inline-block;
  width: 663px;
  margin-bottom: 10px;
  padding: 15px 50px;
}
.term-filtered {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid rgba(209, 209, 209, 0.45);
  text-align: left;
}
.term-name {
  display: inline-block;
  margin-left: 0px;
  font-size: 22px;
  text-align: left;
}
.term-stats {
  float: right;
}
.term-stats-element {
  width: 87px;
  margin-left: 7px;
  padding-top: 4px;
  padding-bottom: 4px;
  float: left;
  text-align: center;
}
.term-stats-element.explanations {
  border-radius: 3px;
  background-color: #7ccc70;
}
.term-stats-element.no-explanations {
  border-radius: 3px;
  background-color: #ff8c8c;
}
.term-stats-number {
  padding-top: 8px;
  padding-bottom: 2px;
  font-size: 16px;
}
.term-stats-number.explanations {
  color: white;
}
.term-label-and-tags {
  max-width: 255px;
  min-width: 0px;
  float: left;
}
.term-tag {
  display: inline-block;
  margin-top: 3px;
  margin-right: 8px;
  padding: 4px 7px 3px;
  background-color: #0091c2;
  color: white;
  font-size: 12px;
}
.term-tag.delete {
  margin-left: -7px;
}
.term-stats-label.explanations {
  color: white;
}
.bottom-bar {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(54, 54, 54, 0.95);
}
.site-related {
  padding-top: 10px;
  padding-bottom: 10px;
}
.bottom-bar-link {
  margin-right: 10px;
  margin-left: 10px;
  color: white;
  text-decoration: none;
}
.navbar-container {
  padding-right: 157px;
  padding-left: 175px;
  text-align: left;
}
.term-header-container {
  display: inline-block;
  width: 663px;
  margin-top: 10px;
  padding: 15px 50px;
}
.term-title-and-stats {
  padding-top: 10px;
  padding-bottom: 6px;
}
.term-title {
  padding-top: 2px;
  padding-bottom: 2px;
  float: left;
  color: black;
  font-size: 35px;
}
.tags-container {
  text-align: left;
}
.tags-input {
  display: inline-block;
  width: 154px;
  height: 30px;
  margin-top: 0px;
  margin-bottom: 0px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: rgba(232, 232, 232, 0.36);
  box-shadow: #dbdbdb 0px 0px 4px 0px inset;
  color: #e8e8e8;
  font-size: 12px;
  line-height: 18px;
}
.add-tags-form-wrapper {
  display: inline-block;
  margin-top: 3px;
  margin-bottom: 0px;
}
.tags-add {
  display: none;
  height: 29px;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #bdbdbd;
}
.challenge-dialog-opener {
  width: 51px;
  height: 31px;
  float: right;
  background-image: url('../images/challenge-icon.png');
  background-position: 50% 50%;
  background-size: 48px;
  background-repeat: no-repeat;
}
.explanations-container-parent {
  display: inline-block;
  width: 663px;
  margin-top: 0px;
  padding: 15px 50px;
}
.exp-container-parent {
  position: relative;
  width: 596px;
  min-height: 150px;
  margin-top: 0px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 22px;
  border-top: 1px solid #e8e8e8;
  text-align: left;
}
.exp-body {
  width: 500px;
  text-align: left;
}
.exp-author {
  position: absolute;
  top: 10px;
  right: 0px;
  width: 91px;
  padding-left: 5px;
  border-left: 1px solid #e8e8e8;
  text-align: left;
}
.exp-author:hover {
  background-color: #e8e8e8;
}
.author-title {
  overflow-x: visible;
  overflow-y: visible;
  max-width: 120px;
  color: #0091c2;
  font-size: 12px;
  font-weight: 600;
}
.author-title.profile-page {
  font-size: 20px;
}
.author-title.notifications {
  font-size: 14px;
}
.author-stats {
  color: #54b36d;
  font-weight: 700;
}
.edit_class {
  display: inline-block;
  margin-right: 100px;
  float: left;
  color: #b0b0b0;
  font-weight: 700;
}
.pictures-container {
  width: 500px;
  margin-top: 7px;
  margin-bottom: 6px;
  text-align: left;
}
.picture-thumbnail {
  width: 100%;
  margin-right: 2px;
}
.picture-container {
  position: relative;
  display: inline-block;
  width: 23.5%;
  margin-right: 3px;
}
.remove-picture {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 1px 5px 2px;
  background-color: rgba(232, 232, 232, 0.54);
  color: #949494;
  font-size: 17px;
}
.edit-input {
  width: 500px;
  margin-bottom: 0px;
}
.edit_form {
  width: 500px;
  margin-bottom: 4px;
}
.all-form-wrappers {
  margin-bottom: 0px;
}
.edit-button {
  color: #4b9c4c;
  font-weight: 700;
}
.cancel-edit-button {
  margin-left: 10px;
  color: #805454;
  font-weight: 700;
}
.delete-post-button {
  margin-right: 100px;
  float: right;
  color: #ff5c5c;
  font-weight: 700;
}
.add-picture {
  display: inline-block;
  width: 23.5%;
}
.add-picture-placeholder {
  width: 100%;
}
.like-container {
  position: absolute;
  left: -100px;
  top: 18%;
}
.like_class {
  width: 75px;
  height: 75px;
  background-image: url('../images/to like@2x.png');
  background-position: 50% 50%;
  background-size: 50px;
  background-repeat: no-repeat;
}
.like_class.liked {
  background-image: url('../images/liked@2x.png');
}
.likes-count {
  text-align: center;
}
.explanation-post-form {
  display: inline-block;
  width: 596px;
  margin-bottom: 28px;
  text-align: left;
}
.post-form-heading {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 20px;
}
.add-post-picture {
  display: inline-block;
  width: 10%;
  margin-right: 5px;
}
.add-post-picture.preview {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 60px;
  height: 60px;
}
.add-post-picture-placeholder {
  width: 100%;
}
.add-post-picture-placeholder.preview {
  width: 150%;
  max-width: 92px;
  margin-left: -25%;
}
.post-input {
  width: 100%;
  margin-bottom: 5px;
}
.post-button {
  margin-top: 5px;
  border-radius: 4px;
  background-color: #0091c2;
}
.navbar-link {
  width: 55px;
  height: 100%;
  background-image: url('../images/notifications unpressed@2x.png');
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.navbar-link.explore {
  background-image: url('../images/explore unpressed@2x.png');
  background-size: 31px;
}
.navbar-link.explore:hover {
  background-color: #e8e8e8;
}
.navbar-link.explore.pressed {
  background-image: url('../images/explore pressed@2x.png');
}
.navbar-link.notification {
  position: relative;
  background-size: 29px;
}
.navbar-link.notification:hover {
  background-color: #e8e8e8;
}
.navbar-link.notification.pressed {
  background-image: url('../images/notifications pressed@2x.png');
}
.navbar-profile-img {
  display: block;
}
.navbar-profile-link {
  width: 57px;
  height: 61px;
  padding-top: 15px;
  padding-left: 12px;
}
.navbar-profile-link:hover {
  background-color: #e8e8e8;
}
.post-not-registered {
  display: inline-block;
  width: 596px;
  margin-bottom: 30px;
}
.post-not-registered-text {
  text-align: left;
}
.log-in {
  padding: 5px 6px;
  border-radius: 5px;
  background-color: #0091c2;
  color: white;
}
.sign-up {
  padding: 5px 6px;
  border-radius: 5px;
  background-color: #0091c2;
  color: white;
}
.profile-header {
  display: inline-block;
  width: 663px;
  padding-top: 50px;
  padding-right: 50px;
  padding-left: 50px;
  text-align: left;
}
.profile-picture-block {
  position: relative;
  display: inline-block;
  float: left;
}
.profile-info-block {
  max-width: 335px;
  padding-right: 10px;
  padding-left: 30px;
  float: left;
}
.profile-info-element {
  margin-top: 5px;
}
.favorite-number {
  padding: 3px 5px;
  color: #0091c2;
  font-weight: 700;
}
.profile-table-block {
  display: inline-block;
  width: 663px;
  margin-top: 10px;
  margin-bottom: 30px;
  padding-top: 12px;
  padding-right: 50px;
  padding-left: 50px;
  text-align: left;
}
.profile-term-span {
  color: #0091c2;
  font-weight: 700;
}
.profile-explanation-span {
  color: black;
  font-style: italic;
}
.body-container {
  position: relative;
  min-height: 800px;
}
.main-section {
  position: relative;
  height: 100%;
  min-height: 700px;
}
.notifications-block {
  display: inline-block;
  width: 663px;
  padding-right: 50px;
  padding-left: 50px;
}
.notifications-heading {
  border-bottom: 1px solid #e8e8e8;
  font-size: 22px;
  text-align: left;
}
.notification-text-element {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: left;
}
.term-name-notifications {
  color: #960000;
  font-weight: 700;
}
.created-time-notifications {
  color: #c2c2c2;
  font-style: normal;
}
.notifications-indicator {
  position: absolute;
  left: 22px;
  top: 6px;
  padding-right: 4px;
  padding-left: 4px;
  border-radius: 100px;
  background-color: #ff5c5c;
  color: white;
}
.navbar-sign-in {
  display: inline-block;
  width: 70px;
  height: 100%;
  float: right;
}
.sign-in-text {
  margin-top: 18px;
  margin-left: 2px;
  padding: 3px 5px;
  border-radius: 3px;
  background-color: #c2c2c2;
  color: white;
}
.sign-in-text.pressed {
  background-color: #0091c2;
}
.sign-in-text.pressed:hover {
  background-color: rgba(2, 154, 204, 0.81);
}
.sign-in-block {
  display: inline-block;
  width: 661px;
  margin-top: 50px;
  padding-top: 10px;
  padding-right: 200px;
  padding-left: 200px;
}
.sign-in-input {
  display: inline-block;
  border-radius: 3px;
}
.sign-in-button {
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
  float: right;
  border-radius: 4px;
  background-color: #0091c2;
}
.sign-in-button:hover {
  background-color: rgba(2, 154, 204, 0.81);
}
.forgot-password-link {
  float: left;
  color: #c2c2c2;
  font-size: 12px;
}
.forgot-password-link:hover {
  text-decoration: underline;
}
.sign-in-form {
  padding-bottom: 18px;
  border-bottom: 1px solid #e8e8e8;
}
.sign-in-form.registration-form {
  border-bottom-style: none;
  border-bottom-width: 0px;
}
.register-link {
  color: dimgray;
}
.register-link:hover {
  color: black;
}
.profile-picture-label {
  float: left;
  color: rgba(51, 51, 51, 0.63);
}
.form-error-msg {
  padding-bottom: 5px;
  color: #ff5c5c;
}
.terms-agreement-notice {
  display: inline-block;
  padding-top: 2px;
  padding-bottom: 7px;
  color: #b3b3b3;
  font-size: 12px;
  line-height: 15px;
  font-style: italic;
  text-align: justify;
}
.edit-profile-block {
  display: inline-block;
  width: 661px;
  margin-top: 25px;
  padding-top: 10px;
  padding-right: 200px;
  padding-left: 200px;
}
.edit-profile-trigger {
  display: inline-block;
  width: 79px;
  margin-top: 7px;
  color: #a3a3a3;
  font-size: 12px;
  font-weight: 700;
  text-align: left;
}
.edit-profile-trigger.save {
  width: auto;
  margin-top: 0px;
  margin-right: 9px;
  color: #4b9c4c;
}
.edit-profile-trigger.cancel {
  width: auto;
  margin-top: 0px;
  clear: left;
  color: #703b3b;
}
.remove-profile-pic {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 3px 5px;
  background-color: #6e6e6e;
  color: white;
}
.edit-profile-form-wrapper {
  margin-bottom: 0px;
}
.favorite-dialog-block {
  display: inline-block;
  width: 400px;
}
.favorite-heading-block {
  padding-left: 10px;
  background-color: #e8e8e8;
  box-shadow: rgba(115, 115, 115, 0.52) 0px 1px 2px 0px;
}
.cancel-dialog-button {
  display: inline-block;
  float: right;
}
.challenge-dialog-heading {
  color: #5c5c5c;
}
.dialog-close-button {
  padding-right: 10px;
  padding-left: 10px;
  float: right;
  color: white;
}
.dialog-body {
  overflow-x: scroll;
  overflow-y: scroll;
  height: 350px;
  min-height: 350px;
  border-style: none solid solid;
  border-width: 1px 1px 6px;
  border-color: #c2c2c2 #c2c2c2 #d1d1d1;
  box-shadow: none;
}
.small-list-heading {
  margin-bottom: 0px;
  margin-left: 12px;
  color: #c2c2c2;
  text-align: left;
}
.dialog-list-block {
  padding: 5px 13px;
}
.dialog-list-image {
  float: left;
}
.dialog-author-title {
  display: inline-block;
  margin-top: 10px;
  margin-left: 7px;
  float: left;
  color: #0091c2;
}
.dialog-challenge-button {
  width: 40px;
  height: 40px;
  float: right;
  background-image: url('../images/challenge-unpressed@2x.png');
  background-position: 50% 50%;
  background-size: 27px;
  background-repeat: no-repeat;
}
.dialog-challenge-button.pressed {
  background-image: url('../images/challenge-pressed@2x.png');
}
.dialog-add-favorite {
  width: 40px;
  height: 40px;
  float: right;
  background-image: url('../images/add_user@2x.png');
  background-position: 50% 50%;
  background-size: 31px;
  background-repeat: no-repeat;
}
.tagged-terms-stats {
  margin-top: 10px;
  margin-bottom: 2px;
}
@media (max-width: 991px) {
  .navbar {
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
  .global-search {
    width: 335px;
    text-align: left;
  }
  .global-search-input {
    width: 82.6%;
  }
  .suggestions {
    width: 328px;
  }
  .navbar-container {
    display: block;
    padding-right: 80px;
    padding-left: 80px;
  }
  .like-container {
    left: -86px;
  }
  .like_class {
    width: 65px;
    height: 65px;
    background-size: 40px;
  }
}
@media (max-width: 767px) {
  body {
    overflow-x: hidden;
    overflow-y: hidden;
  }
  .global-search {
    position: absolute;
    left: 0px;
    top: 61px;
    width: 100%;
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    text-align: left;
  }
  .global-search-input {
    width: 94%;
    height: 38px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  .global-search-button {
    border-width: 0.75px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .suggestions {
    width: 503px;
    margin-left: 0px;
    border-top-left-radius: 0px;
  }
  .tag-choose-container {
    width: 100%;
    margin-top: 53px;
    padding-right: 10px;
    padding-left: 10px;
  }
  .search-tags {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
  }
  .nav-menu {
    width: 100%;
  }
  .container-tag-filtered-terms-index {
    width: 568px;
  }
  .bottom-bar-link {
    font-size: 12px;
  }
  .navbar-container {
    padding-right: 0px;
    padding-left: 0px;
  }
  .term-header-container {
    width: 568px;
    margin-top: 38px;
  }
  .explanations-container-parent {
    width: 568px;
  }
  .exp-container-parent {
    width: 490px;
  }
  .exp-body {
    width: 389px;
  }
  .author-title {
    overflow-x: hidden;
    overflow-y: hidden;
    font-size: 11px;
  }
  .author-stats {
    font-size: 11px;
  }
  .edit_class {
    float: right;
  }
  .pictures-container {
    width: 82%;
  }
  .edit-input {
    width: 100%;
  }
  .edit_form {
    width: 81%;
  }
  .edit-button {
    float: left;
  }
  .cancel-edit-button {
    float: left;
  }
  .like-container {
    position: static;
    display: inline-block;
    float: left;
    clear: left;
    text-align: center;
  }
  .like_class {
    display: block;
    width: 30px;
    height: 30px;
    background-size: 25px;
  }
  .likes-count {
    display: inline-block;
  }
  .explanation-post-form {
    width: 485px;
  }
  .add-post-picture {
    width: 15%;
  }
  .navbar-link.explore {
    width: 33.3%;
  }
  .navbar-link.notification {
    width: 33.3%;
  }
  .navbar-profile-link {
    width: 33.3%;
    padding-left: 14%;
  }
  .post-not-registered {
    width: 485px;
  }
  .profile-header {
    width: 568px;
    margin-top: 15px;
  }
  .profile-table-block {
    width: 569px;
  }
  .notifications-block {
    width: 568px;
    margin-top: 37px;
  }
  .notifications-indicator {
    left: 87px;
  }
  .navbar-sign-in {
    margin-right: 150px;
    float: right;
  }
  .sign-in-block {
    width: 569px;
    margin-top: 100px;
    padding-right: 150px;
    padding-left: 150px;
  }
}
@media (max-width: 479px) {
  .global-search {
    width: 100%;
  }
  .global-search-input {
    width: 89.4%;
  }
  .suggestions {
    width: 256px;
  }
  .tag-choose-container {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
  }
  .container-tag-filtered-terms-index {
    width: 320px;
    padding-right: 0px;
    padding-left: 0px;
  }
  .term-filtered {
    text-align: center;
  }
  .term-name {
    margin-bottom: 6px;
  }
  .term-stats {
    display: inline-block;
    margin-top: 9px;
    float: none;
  }
  .term-stats-number {
    display: block;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 14px;
  }
  .term-stats-number.explanations {
    display: block;
  }
  .term-stats-number.term-page {
    display: none;
  }
  .term-label-and-tags {
    display: inline-block;
    min-width: 175px;
    float: none;
  }
  .term-header-container {
    width: 320px;
    padding-right: 4px;
    padding-left: 20px;
  }
  .term-title-and-stats {
    margin-bottom: 4px;
  }
  .term-title {
    margin-top: 4px;
    font-size: 31px;
  }
  .explanations-container-parent {
    width: 320px;
    margin-top: 15px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .exp-container-parent {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 30px;
  }
  .exp-body {
    width: 100%;
    border-right-width: 0px;
  }
  .exp-author {
    left: 0px;
    top: -31px;
    right: 0px;
    width: 100%;
    padding-left: 0px;
  }
  .author-title {
    display: inline-block;
    overflow-x: hidden;
    overflow-y: hidden;
    width: auto;
    margin-right: 6px;
    margin-left: 6px;
  }
  .author-title.profile-page {
    margin-left: 0px;
    font-size: 18px;
  }
  .author-title.notifications {
    margin-right: 0px;
    margin-left: 0px;
  }
  .author-stats {
    display: inline-block;
    margin-right: 3px;
    margin-left: 3px;
  }
  .edit_class {
    margin-right: 0px;
  }
  .pictures-container {
    width: 100%;
  }
  .edit-input {
    width: 100%;
  }
  .edit_form {
    width: 100%;
  }
  .edit-button {
    float: left;
  }
  .cancel-edit-button {
    float: left;
  }
  .delete-post-button {
    margin-right: 0px;
  }
  .like-container {
    display: inline-block;
    float: left;
    clear: left;
  }
  .explanation-post-form {
    width: 282px;
    margin-top: -40px;
  }
  .navbar-profile-link {
    padding-left: 12.5%;
  }
  .post-not-registered {
    width: 256px;
    line-height: 30px;
  }
  .post-not-registered-text {
    text-align: justify;
  }
  .profile-header {
    width: 321px;
    padding-right: 25px;
    padding-left: 25px;
    text-align: center;
  }
  .profile-picture-block {
    float: none;
  }
  .profile-info-block {
    height: auto;
    padding-left: 0px;
    float: none;
  }
  .profile-table-block {
    width: 320px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .notifications-block {
    width: 320px;
  }
  .notifications-indicator {
    left: 46px;
  }
  .navbar-sign-in {
    width: 84px;
    margin-right: 50px;
  }
  .sign-in-block {
    width: 320px;
    padding-right: 50px;
    padding-left: 50px;
  }
  .edit-profile-trigger {
    width: auto;
  }
  .edit-profile-trigger.save {
    width: auto;
    margin-right: 5px;
  }
  .edit-profile-trigger.cancel {
    width: auto;
  }
  .favorite-dialog-block {
    width: 320px;
  }
}