body.search_input_field = {
width: 300px; 
height: 30px; 
z-index: 10002; 
font-weight: normal; 
font-style: normal; 
font-size: 14px; 
font-family: Arial; 
color: rgb(71, 71, 71); 
border: 1px solid rgb(200, 200, 200); 
border-radius: 0px; 
visibility: visible; 
zoom: 1; 
opacity: 1; 
box-shadow: rgba(0, 0, 0, 0.0980392) 1px 1px 1px inset; 
padding: 0px 10px; 
-webkit-user-select: none; 
background-image: none; 
background-color: rgb(255, 255, 255); 
background-size: auto; 
background-position: 50% 50%; 
background-repeat: repeat;

}

body.search_input_button {
width: 120px; 
height: 30px; 
z-index: 10001; 
border: 0px solid rgb(221, 221, 221); 
border-radius: 3px; color: rgb(255, 255, 255); 
font-size: 14px; 
font-weight: 700; 
font-style: normal; 
font-family: Arial; 
text-align: center; 
box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 2px; 
visibility: visible; 
zoom: 1; 
opacity: 1; 
padding: 6px 10px; 
-webkit-user-select: none; 
background-image: none; 
background-color: rgb(52, 152, 219); 
background-size: auto; 
background-position: 50% 50%;
background-repeat: repeat;
cursor: pointer;
}

